In [12]:
# import libraries

from bs4 import BeautifulSoup
import requests
import time
import datetime
import pandas
import smtplib

In [13]:
# get data and clean it


URL = 'https://www.amazon.com/Funny-Data-Systems-Business-Analyst/dp/B07FNW9FGJ/ref=sr_1_3?dchild=1&keywords=data%2Banalyst%2Btshirt&qid=1626655184&sr=8-3&customId=B0752XJYNL&th=1'
headers ={"User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/106.0.0.0 Safari/537.36", 
    "X-Amzn-Trace-Id": "Root=1-63616c0f-6d3fade6293440a13de31f54","Accept-Encoding":"gzip, deflate", "Accept":"text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8", "DNT":"1","Connection":"close", "Upgrade-Insecure-Requests":"1"}


page = requests.get(URL, headers=headers)

soup1 = BeautifulSoup(page.content, "html.parser")

soup2 = BeautifulSoup(soup1.prettify(), "html.parser")

title = soup2.find('span',id='productTitle')
str(title.text)

for i in title:
    print(i.text)
    

price = soup2.find('span', class_='a-offscreen')
#str(price.text)

#print(title)
print(price.text)

rating = soup2.find('span',class_='a-icon-alt')
print(rating)

# cleaning data 

price = price.text
price = price.strip()[1:]

title = title.text
title = title.strip()

rating = rating.text
rating = rating.strip()[0:3]

print(price)
print(title)
print(rating)

                   Funny Got Data MIS Data Systems Business Analyst T-Shirt


                  $16.99

<span class="a-icon-alt">
                       4.8 out of 5 stars
                      </span>
16.99
Funny Got Data MIS Data Systems Business Analyst T-Shirt
4.8

In [14]:
import datetime

today = datetime.date.today()
print(today)

2022-11-03

In [15]:
# writing data in file 

import csv

header = ['Title','Price','Rating','Date']

data = [title,price,rating,today]
type(data)  # it's a list 

with open('AmazonDataset.csv','w',newline = '', encoding='UTF8') as f:
    writer = csv.writer(f)
    writer.writerow(header)
    writer.writerow(data)

In [16]:
# reading data from file 

import pandas as pd

#df = pd.read_csv("C:\\Users\\patil\\Dropbox\\My PC (DESKTOP-V2TJSM4)\\Desktop\\Amazon_webScraping project\\AmazonDataset.csv")

df = pd.read_csv(r'C:\Users\patil\Dropbox\My PC (DESKTOP-V2TJSM4)\Desktop\Amazon_webScraping project\AmazonDataset.csv')

#actul path was giving error so added one more backslashes at every place, or use r ,both works
print(df)

                                               Title  Price  Rating  \
0  Funny Got Data MIS Data Systems Business Analy...  16.99     4.8

         Date
0  2022-11-03

In [20]:
# append data to the csv file

with open('AmazonDataset.csv','a+',newline = '', encoding='UTF8') as f:
    writer = csv.writer(f)
    writer.writerow(data)

In [6]:
# putting all code in function for automation

def price_check():
   
    URL = 'https://www.amazon.com/Funny-Data-Systems-Business-Analyst/dp/B07FNW9FGJ/ref=sr_1_3?dchild=1&keywords=data%2Banalyst%2Btshirt&qid=1626655184&sr=8-3&customId=B0752XJYNL&th=1'
    headers ={"User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/106.0.0.0 Safari/537.36", 
    "X-Amzn-Trace-Id": "Root=1-63616c0f-6d3fade6293440a13de31f54","Accept-Encoding":"gzip, deflate", "Accept":"text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8", "DNT":"1","Connection":"close", "Upgrade-Insecure-Requests":"1"}
    
    page = requests.get(URL, headers=headers)

    soup1 = BeautifulSoup(page.content, "html.parser")

    soup2 = BeautifulSoup(soup1.prettify(), "html.parser")

    title = soup2.find('span',id='productTitle')
    str(title.text)
    
    price = soup2.find('span', class_='a-offscreen')
    
    rating = soup2.find('span',class_='a-icon-alt')
    
    price = price.text
    price = price.strip()[1:]

    title = title.text
    title = title.strip()

    rating = rating.text
    rating = rating.strip()[0:3]
    
    import datetime

    today = datetime.date.today()
    print(today)
    
    import csv

    header = ['Title','Price','Rating','Date']

    data = [title,price,rating,today]

    with open('AmazonDataset.csv','a+',newline = '', encoding='UTF8') as f:
        writer = csv.writer(f)
        writer.writerow(data)

In [ ]:
# price check will be done automatically everyday

# 1 day = 86400 seconds

while(True):
    price_check()
    time.sleep(86400)

2022-11-03

In [21]:
# printing data from csv in table formate

import pandas as pd
from tabulate import tabulate

df = pd.read_csv(r'C:\Users\patil\Dropbox\My PC (DESKTOP-V2TJSM4)\Desktop\Amazon_webScraping project\AmazonDataset.csv')

# Date was dispalying on new column so added tabulate function from tabulate library 

print(tabulate(df,headers = 'firstrow'))

  0  Funny Got Data MIS Data Systems Business Analyst T-Shirt      16.99    4.8  2022-11-03
---  ----------------------------------------------------------  -------  -----  ------------
  1  Funny Got Data MIS Data Systems Business Analyst T-Shirt      16.99    4.8  2022-11-03
  2  Funny Got Data MIS Data Systems Business Analyst T-Shirt      16.99    4.8  2022-11-03
  3  Funny Got Data MIS Data Systems Business Analyst T-Shirt      16.99    4.8  2022-11-03
  4  Funny Got Data MIS Data Systems Business Analyst T-Shirt      16.99    4.8  2022-11-03